<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <title>Coming Soon!</title>
    </head>
    <body>
        <div id="top-bar">
            <div id="top-bar-items">
                <a class="link-button" href="/Singleplayer">Singleplayer</a>
                <a class="link-button" href="/Multiplayer">Multiplayer</a>
                <a class="link-button" href="/Statistics">Statistics</a>
            </div>
        </div>
        <div id="coming-soon">
            <h1>
                Coming Soon!
            </h1>
        </div>
    </body>
</html>