<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <title>Geography Quiz</title>
    </head>
    <body>
        <div id="join-room">
            <div id="join-room-box">
            <div>
              <h1 class="prompt">Join a Multiplayer Game</h2>
              <div id="join-room-info">
                <label class="prompt" for="username">Username</h2>
                <input id="username" name="username" type="text">
                <label class="prompt" for="room">Room</h2>
                <input id="room" name="room" type="text">
                <input class="input-button" id="join-room-button" type="button" value="Join Multiplayer Game" onclick="joinRoom()"/>
              </div>     
            </div>
            </div>
          </div>
        <div id="top-bar">
            <div id="top-bar-items">
                <a class="link-button" href="/Singleplayer">Singleplayer</a>
                <a class="link-button" href="/Multiplayer">Multiplayer</a>
                <a class="link-button" href="/Statistics">Statistics</a>
            </div>
        </div>
        <div id="map-holder"></div>
        <div id="bottom-bar">
            <div id="bottom-bar-items">
                <h1 class="prompt" id="prompt-prompt">Guess: </h1>
                <h1 class="prompt" id="prompt-country"></h1> 
            </div>
            <div id ="bottom-bar-guesses">
                <h1 class="guess" id="guess-correct">Correct: </h1>
                <h1 class="guess" id="guess-correct-count">0</h1>
                <h1 class="guess" id="guess-total"> Total: </h1>
                <h1 class="guess" id="guess-total-count">0</h1>
                <div class="popup">
                    <span class="popuptext" id="leaderboard-popup"></span>
                </div>
                <input class="input-button" id="leaderboard-button" type="button" value="Show Leaderboard" onclick="toggleLeaderboard()"/>
            </div>
        </div>
    </body>

    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="static/js/multiplayer.js"></script>
    <script src="static/js/game.js"></script>
    <script src="static/js/map.js"></script>
</html>
